<h1>Add a cohort</h1>

<form action="/cohorts" method="POST">

  <label for="name"><h3>Name of Cohort</h3></label>
  <p>Cohorts are named something like "ruby007"</p>
  <input type="text" id="name" name="cohort[name]">


  <input type="submit" value="create">

</form>
