<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Immersive Resources Tracker</title>
  <link rel="stylesheet" id="google_merriweather-css" href="http://fonts.googleapis.com/css?family=Merriweather:400,700&ver=3.5" type="text/css" media="all">
  <link rel="stylesheet" href="/css/style.css">
</head>
<a href="/"><img src="/img/logo.png" alt="Flatiron School"></a>

<body>
    <%= yield %>
  </body>

</html>
